<div class="container-fluid <%if (locals.url.includes('/user/profile')) {%><%= 'nav_profile_color' %><%}%>">
  <div class="container">
    <div class="topbar-container">
      <div class="topbar">
        <a href="/" class="left_item">
          <i id="icon" class="fas fa-heartbeat"></i>
        </a>
        <a href="/" id="name" class="left_item">
          Date.ME
        </a>
        <a href="/" class="nav_item <% if(locals.url === '/'){%><%= 'active'%><%}%>">
          Home
        </a>
        <a href="/user/settings/profile" class="nav_item <% if(locals.url.includes('/user/settings/')){%><%= 'active'%><%}%>">
          Settings
        </a>
        <a href="/user/matches" class="nav_item <% if(locals.url === '/user/matches'){%><%= 'active'%><%}%>">
          Matches
        </a>
        <a href="/logout" class="nav_item <% if(locals.url === '/logout'){%><%= 'active'%><%}%>">
          Logout
        </a>
        <a href="/user/messages">
            <div class="notification-button">
              
            </div>
          </a>  
        <a href="/user/profile/<%= user._id %>" class="nav_item nav_avatar_image <% if(locals.url.includes('/user/profile')){%><%= 'active'%><%}%>">
          <img src="/uploads/<%= user.profileImage %>">
          <% var shortUsername = user.username.split(" "); %>
          <span id="username_tooltip"><%= shortUsername[0] %></span>
        </a>
      </div>
    </div>
  </div>
</div>

<script src="../js/navbar.js"></script>