<% include ../partials/header %>
<% include ../partials/navbar %>


<!-- <div class="container-fluid header_container">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<img id="avatar_image" src="uploads/<%= match.profileImage %>">
			</div>
			<div class="col-sm-6 user_metadata">
				<h1><%= match.username %></h1>
				<span></span>
			</div>
			<div class="col-sm-4">

			</div>
		</div>
	</div>
</div> -->



<div class="card">
    <img src="uploads/<%= match.profileImage %>" alt="John" style="width:100%">
    <h1><%= match.username %></h1>
    <p class="title"><%= match.gender %></p>
    <p><%= match.city %></p>
    <p><button>Contact</button></p>
</div>

<% include ../partials/header %>
