<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <a id="editStandardsButton" class="btn btn-success w-25" href="/user/editStandards">Edit standards</a>
</div>

<%- messages() %>

<% if (match !== null) { %>
<div class="card">
    <a href="/user/profile/<%= match._id %>">
      <img src="uploads/<%= match.profileImage %>" alt="John" style="width:100%">
    </a>
    <h1><%= match.username %></h1>
    <p class="title">Gender: <%= match.gender %></p>
    <p class="title">City: <%= match.city %></p>
    <p class="title">Age: <%= match.age %></p>
    <p>Bio: <%= match.bio %></p>
    <form action="" method="get">
        <p><button type="submit" class="btn btn-success">Contact</button></p>
    </form>
    <form action="user/declineMatch" method="post">
        <p><button type="submit" class="btn btn-danger">Decline</button></p>
    </form>
</div>
<% } else { %>
    <div class="container">
        <h1>No matches yet. Please come back later.</h1>
    </div>
<% } %>

<% include ../partials/header %>
