<% include ../partials/header %>
<% include ../partials/navbar %>


<a href="/user/editStandards">Edit</a>


<div class="card">
    <img src="uploads/<%= match.profileImage %>" alt="John" style="width:100%">
    <h1><%= match.username %></h1>
    <p class="title">Gender: <%= match.gender %></p>
    <p class="title">City: <%= match.city %></p>
    <p class="title">Age: <%= match.age %></p>
    <p>Bio: <%= match.bio %></p>
    <p><button>Contact</button></p>
</div>

<% include ../partials/header %>
