<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <div class="row">
        <div class="col-sm-3 no-spacing">
            <ul class="user_list">
            <% for (var i = 0; i < users.length; i++) { %>
                <% if(!users[i]._id.equals(user._id)) { %>
                    <li class="user_list_item" onclick="selectUser(this);">
                        <img class="avatar_image" src="/uploads/<%= users[i].profileImage %>">
                        <p class="avatar_username"><%= users[i].username %></p>
						<p id="userID"><%= users[i]._id %></p>
                    </li>

                <% } %>
            <% } %>
            </ul>
            
        </div>
        <div class="col-sm-9 no-spacing chat_view">
            <div class="chat_box">
                <ul id="messages"></ul>
                <form action="" class="form-row align-items-center">
                    <div class="col-sm-9 my-1">
                        <input autofocus type="text" class="form-control mb-2 mr-sm-2" id="m">
                    </div>
                    <div class="col-sm-3 my-1">
                        <button class="btn btn-primary mb-2">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/socket-io/socket.io.js"></script>
<script>
	var userIds = {};
    var username = "<%= user.username %>";
	var thisUserId = "<%= user._id %>"
    var socket = io();
	var users = "<% users %>";
	var selectedUserId;

	function selectUser(item) {
		$('#messages').empty();        
        $('.user_list_item').removeClass('active');
		$(item).addClass('active');
        selectedUserId = item.children[2].innerHTML;
        socket.emit('get message', {to: selectedUserId, from: thisUserId})

        socket.on('get message', function(message){
            console.log(message)
		$('#messages').empty();        
            for(var i = 0; i < message.length; i++){
		        $('#messages').append($('<li class="message">').text(message[i].fromName + ': ' + message[i].message));
            }
        });
	}

    $('form').submit(function() {
		socket.emit('chat message', {to: selectedUserId, from: thisUserId, fromName: username, msg: $('#m').val()});
		$('#messages').append($('<li class="message">').text(username + ': ' + $('#m').val()));
        $('#m').val('');
		return false;
    })

    socket.on(thisUserId, function(from, fromName, msg) {
		if (from == selectedUserId) {
			$('#messages').append($('<li class="message">').text(fromName + ': ' + msg));
		}
    })
</script>
<% include ../partials/footer %>