<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid header_container">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<img id="avatar_image" src="uploads/<%= user.profileImage %>">
			</div>
			<div class="col-sm-6 user_metadata">
				<h1><%= user.username %></h1>
				<span><%= user.age %></span>
				<span>·</span>
				<span><%= user.city %> (<%= user.postcode %>)</span>
				<span>·</span>
				<span><%= user.gender %></span>
			</div>
			<div class="col-sm-4">

			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
