<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid header_container">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<img id="avatar_image" src="uploads/<%= fetchedUser.profileImage %>">
			</div>
			<div class="col-sm-6 user_metadata">
				<h1><%= fetchedUser.username %></h1>
				<span><%= fetchedUser.age %></span>
				<span>·</span>
				<span><%= fetchedUser.city %></span>
				<span>·</span>
				<span><%= fetchedUser.gender %></span>
			</div>
			<div class="col-sm-3 message_column" id="top_message_column">
				<button class="btn custom-message-btn">
					Contact
				</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-6 offset-sm-2 user_meta_bio">
			<p><%= fetchedUser.bio %></p>
		</div>
		
	</div>

	<!-- This row is only used for the custom-hr -->
	<div class="row">
		<div class="col-sm-8">
			<hr class="custom-hr">
		</div>
	</div>


</div>

<% include ../partials/footer %>
